
* {
    font-family: Calibri;
    box-sizing: border-box;
    margin: 0;
}

body {
    /* background-color: #242424; */
    background-image: url(/background-blue-cloth.png);
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
}

.container {
    display: flex;
    flex-direction: column;
    /* background-color: #242424; */
    background-image: url(/background-blue-cloth.png);
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
}

h1 {
    font-family: Calibri;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 5rem;
    color: white;
    font-size: 50px;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: .5rem;
    border-bottom: 2px white solid;
}

h2 {
    font-family: Calibri;
    color: white;
    font-size: 25px;
}

h3 {
    font-family: Calibri;
    color: white;
    font-size: 20px;
}

/** Main Menu **/

.main-menu-container {
    display: flex; /* Don't forget to change back to flex */
    height: calc(var(--vh, 1vh) * 100 - 5rem);
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-top: 1.5rem;
}

.main-menu-container > button {
    border: 2px white solid;
    border-radius: 5px;
    width: 60%;
    font-size: 30px;
    padding: .35rem 0;
    /* background-color: #242424; */
    background-image: url(/background-blue-cloth.png);
    color: white;
}

.main-menu-container > button:active {
    background-color: lightgray;
}

/** Add Players **/

.add-players-container {
    display: none; /* Don't forget to change back to none */
    height: calc(var(--vh, 1vh) * 100 - 5rem);
    flex-direction: column;
    margin: 0 2rem;
    /* border: 1px solid aqua; */
}

.player-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    /* border: 1px solid aqua; */
}

.player-input-container > button {
    font-size: 15px;
    height: 2.5rem;
    border: 2px white solid;
    border-radius: 5px;
    /* background-color: #242424; */
    background-image: url(/background-blue-cloth.png);
    color: white;
}

.player-input-container > button:active {
    background-color: lightgray;
}

.player-input-container > button:focus {
    color: rgb(225, 225, 225);
    outline: 1px solid white !important;
    border: 1px solid rgb(225, 225, 225);
    opacity: 1;
}

.input-player {
    border: none;
    height: 2.5rem;
    width: 70%;
    font-size: 1.5rem;
    text-indent: .5rem;
    /* color: rgba(225, 225, 225, .75); */
    /* background-color:  #353535; */
    box-shadow: inset 1px 1px 5px rgb(15, 15, 15);
}

.input-player::placeholder {
    left: 1rem;
    /* color: rgba(225, 225, 225, .5); */
}

.input-player:focus {
    /* color: rgb(225, 225, 225); */
    outline: 1px solid white !important;
    border: 1px solid rgb(225, 225, 225);
}

.add-player {
    width: 50%;
    color: white;
    /* background-color: #242424; */
    background-image: url(/background-blue-cloth.png);
    border: 0px;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: .5rem;
    font-size: 20px;
}

.add-player > span {
    font-size: 25px;
}

.add-player:active {
    color: darkgray;
}

.apc-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    justify-content: space-between;
}

.back {
    align-self: center;
    width: 30%;
    border: 2px white solid;
    border-radius: 5px;
    font-size: 25px;
    padding: .35rem 0;
    /* background-color: #242424; */
    background-image: url(/background-blue-cloth.png);
    color: white;
    margin-top: auto;
    margin-bottom: 1.5rem;
}

.start {
    align-self: center;
    width: 60%;
    border: 2px white solid;
    border-radius: 5px;
    font-size: 25px;
    padding: .35rem 0;
    /* background-color: #242424; */
    background-image: url(/background-blue-cloth.png);
    color: white;
    margin-top: auto;
    margin-bottom: 1.5rem;
}

.back:active, .start:active {
    background-cololightgrayray;
}

.alert-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.shader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
}

.alert-box {
    z-index: 2;
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* background-color: #242424; */
    background-image: url(/background-blue-cloth.png);
    box-shadow: 5px 10px 10px black;
    border-radius: 5px;
}

.alert {
    color: white;
    font-family: Calibri;
    font-size: 30px;
}

.ok {
    width: 50%;
    border: 2px white solid;
    border-radius: 5px;
    font-size: 25px;
    padding: .35rem 0;
    /* background-color: #242424; */
    background-image: url(/background-blue-cloth.png);
    color: white;
}

/** Keep Score Container **/

.keep-score-container {
    display: none; /*change back to none when finished */
    height: calc(var(--vh, 1vh) * 100 - 5rem);
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.ksc-buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
    margin-bottom: 1.5rem;
}

.score-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.scorebox {
    display: flex;
    margin: 0 1rem;
    height: 4rem;
    margin-top: 1rem;
}


.player {
    width: 50%;
}

.scores {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 50%;
    gap: .5rem;
}

.counter {
    aspect-ratio: 1;
    width: 33%;
    box-shadow: inset 1px 1px 4px black;
    font-size: 30px !important;
}

.minus, .plus, .counter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.scorebox > h2 {
    font-size: 30px;
    align-self: center;
}

.change-game, .finish {
    border: 2px white solid;
    border-radius: 5px;
    font-size: 25px;
    padding: .35rem 1rem;
    /* background-color: #242424; */
    background-image: url(/background-blue-cloth.png);
    color: white;
}

.change-game:active, .finish:active, .cg-button:active {
    background-color: lightgray;
}

/** Change Game Container **/

.change-game-container {
    display: none; /* Don't forget to change back to none before end */
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.cg-selector-container {
    z-index: 2;
    width: 70%;
    margin: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* background-color: #242424; */
    background-image: url(/background-blue-cloth.png);
    box-shadow: 5px 10px 10px black;
    border-radius: 5px;
    gap: 1rem;
}

.cg-button {
    width: 80%;
    border: 2px white solid;
    border-radius: 5px;
    font-size: 25px;
    padding: .35rem 1rem;
    /* background-color: #242424; */
    background-image: url(/background-blue-cloth.png);
    color: white;
}

#cancel {
    width: 50%;
}

/** FINAL SCORE **/

.final-score-container {
    display: none; /* Don't forget to change back to none before end */
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.fs-box {
    z-index: 2;
    width: 80%;
    margin: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-top: 0rem;
    /* background-color: #242424; */
    background-image: url("https://github.com/evan-baron/pool-app/blob/main/background-blue-cloth.png");
    box-shadow: 5px 10px 10px black;
    border-radius: 5px;
    gap: 1rem;
}

.fs-button-box {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.fs-back, .fs-done {
    align-self: center;
    width: 50%;
    border: 2px white solid;
    border-radius: 5px;
    font-size: 25px;
    padding: .35rem 0;
    /* background-color: #242424; */
    background-image: url(/background-blue-cloth.png);
    color: white;
    margin-top: auto;
}

#fs-msg > h1 {
    width: 100%;
    margin: 0;
    height: 100%;
    padding: .25rem 0;
}

#fs-msg > h2 {
    padding-top: 1rem;
    padding-bottom: .25rem;
}

#fs-msg > h3 {
    padding-left: 1rem;
}